# Ignore common temporary files
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak

# Ignore editor specific files
.vscode/
.idea/

# Ignore...
Google Sheets Data To HTML Table v1 - Copy.html
Google Sheets Data To HTML Table v1 - Zapier Use Thumbnail As Answer Row Image.html
Google Sheets Data To HTML Table v1 - Zapier Bugged Img To URL.html
