# Ignore common temporary files
.DS_Store
Thumbs.db
*.log
*.tmp
*.bak

# Ignore editor specific files
.vscode/
.idea/

# Ignore v1.html as we are working with v2.html
Google Sheets Data To HTML Table v1.html
